---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>        <div class="md:container md:mx-auto">
          <header class="inset-x-0 top-0 z-50">
            <div class="flex flex-row">
              <div class="basis-3/4">
                <div class="p-3 font-mono text-xl">
                  <a href="/">zatsudan</a>
                </div>
              </div>
              <div class="basis-1/4 text-end">
                <div class="p-3 font-mono">
                  <a href="/about">zatsudanとは</a>
                </div>
              </div>
            </div>
          </header>
		<slot />
        </div>
	</body>
</html>
<style is:global>

</style>
